*{
margin: 0;
padding: 0;
box-sizing: border-box;
} 

 .parent{
    background-color: blueviolet;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.logo{
    margin-right: auto;
   
}
.logo img{
    height: 60px;
    width: auto;
 
    
}
.item a{
  
    background-color: antiquewhite;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
} 




